
/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



/*  general */
*{
    font-family: 'Roboto', sans-serif;
}

.background-white{
    background-color: white;
}
body{
     background-color: #F6F8F9; 
}


.container{
    width: 75%;
    margin: 0 auto 3px auto;
    padding-left: 18px;

}

.adding{
    text-decoration: none;
    color: rgba(128, 128, 128, 0.3);
    border: 1px solid rgba(128, 128, 128, 0.3);
    border-radius: 10%;
    padding: 7px;
    vertical-align: middle;
    display: inline-block;
    line-height: 20px;
    margin: 20px auto 20px 20px;
 }


 .clickable{
    color: white;
    font-size: 12px;
    text-decoration: none;
    border-radius: 20px;
    padding: 8px;
    vertical-align: middle;
    display: inline-block;
    margin: 8px 0 8px 10px;
 }





 /* colori sfondi----------- */




 .blu-style{
    color: white;
    background-color: #47ADF1;
    border: 1px solid #47ADF1;
 }
 .purple{
    background-color: #9C72E4;
 }
 .green{
background-color: #64C0A9;
 }

 .orange{
    background-color:#F29E33 ;
 }

 .pink{
    background-color: #D863A1;
 }

 .green2{
    background-color:#B0C926 ;
 }





/* HEADER */
header{
    background-color: white;
    padding: 24px;
    margin-bottom: 40px;
}
h1{
    display: inline-block;
}




/* vari---------------- */
h2{
    padding-bottom: 10px;
    padding-top: 20px;
 }
h3{
    display: inline-block;
}
#logo{
    vertical-align: middle;
}

.section-div{
    line-height: 25px;
}

.check{
border-radius: 50%;
height: 25px;
width: 25px;
border: 1px solid green;
color: green;
display: inline-block;
text-align: center;
margin-right: 10px;
}

.cross{
    border-radius: 50%;
    height: 25px;
    width: 25px;
    border: 1px solid red;
    color: red;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
